body {
    margin: 0;
    background-color: #849d8f;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.button {
    border-radius: 40px;
    border: 1px solid #a1b6ab;
    padding: 5px 15px;
    background-color: #a1b6ab;
}


.button-nice {
    background: linear-gradient(180deg, #f26843, #e74b36);
    box-shadow: 0px 2px 2px 0px rgba(128, 12, 0, 0.7);
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    border: none;
}

/*
 header
*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: relative;
    z-index: 20;
}
.main-header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.controls {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    margin-right: 20px;
}
.menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.menu-item {
    list-style-type: none;
    cursor: pointer;
}
.dropdown {
  position: relative;
}

.dropdown-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 10px;
}

.menu-link-item:hover {
    font-size: 14px;
    background-color: #fbded7;
    margin: 0;
}

.menu-link-item:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-link-item:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-link-item:active  {
    background-color: #f6b5a5;
}
.menu-link-item {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    width: 145px;
}

.menu-link-item-header {
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    color: #323232;
    border-bottom: 1px solid rgba(209, 206, 208, 0.3);
}
.menu-link-item:active  {
    background-color: #f6b5a5;
}
.dropdown:hover .menu-link-list {
  display: block;
}

.menu-link-list {
    list-style-type: none;
    display: none;
    border-radius: 10px;
    background-color: #f8f7f4;
    box-shadow: 5px 16px 15px 0px #6b7771;
    padding: 0;
}
.menu-link-item-text {
    text-decoration: none;
    color: #323232;
}


.menu-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 700;
    margin: 6px 16px;

}
.menu-link:hover,
.dropdown:hover .menu-link,
.menu-link-active {
    border-radius: 40px;
    border: 1px solid #f7f6f3;
    padding: 5px 15px;
    background-color: #f7f6f3;
    color: #333333;
    margin: 0;
}
.menu-item:last-child {
    margin-right: 0;
}

.user-block-button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}
.user-block-button:hover {
    font-size: 14px;
    background-color: #f8f7f4;
    color: #323232;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}
.search {
    position: relative;
    display: inline-block;
    margin-right: 5px;

}

.search:hover .button-search {
    width: 17px;
    height: 17px;
    background: url('../images/css_sprites.png') -82px -143px;
    background-color: #f8f7f4;
}

.search-overlay {
    position: absolute;
    top: 100%;
    padding-top: 5px;
    right: 0;
    display: none;
    box-shadow: 5px 16px 15px 0px #6b7771;
}
.search-wrap {
    background-color: #f8f7f4;
    width: 340px;
    padding: 25px 15px;
    border-radius: 5px;
    display: inline-block;
}

.search-cell {
    width: 310px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    padding: 15px;
}
.search-cell:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px #c7c6c5;
}
.search:hover .search-overlay {
    display: block;
}
.search-wrap-label {
    position: relative;
}
.search-text {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 15px;
    color: #5b9ddf;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    display: none;
}
.search-cell:focus + .search-text {
    display: inline-block;
}
.entrance {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.entrance-wrap-label {
    position: relative;
}
.entrance-word {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 15px;
    color: #5b9ddf;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    display: none;
}

.entrance-overlay {
    position: absolute;
    top: 100%;
    padding-top: 5px;
    right: 0;
    display: none;
    z-index: 10;
    box-shadow: 5px 16px 15px 0px #6b7771;
}

.entrance-wrap {
    background-color: #f8f7f4;
    width: 280px;
    padding: 20px;
    padding-top: 25px;
    border-radius: 5px;
}

.entrance:hover .entrance-overlay {
    display: inline-block;
}
.entrance-cell {
    width: 240px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    font-size: 16px;
    color: #323232;
    font-weight: 700;
    padding: 15px;
}
.entrance-cell:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px #c7c6c5;
}
.entrance-cell:focus + .entrance-word {
    display: inline-block;
}
.entrance-cell-indent {
    margin-bottom: 25px;
}
.button-entrance {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    display:block;
}
.entrance-actions {
    display: flex;
    margin-top: 20px;
}
.entrance-actions-link {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.entrance-text {
    font-size: 13px;
    font-weight: 400;
    display:block;
    border-bottom: 1px solid #adacaa;
    margin-bottom: 5px;
    text-decoration: none;
    color: #5a5959;
}
.entrance-text:hover {
    font-weight: 400;
    color: #ffbc9e;
}

.entrance-text:last-child {
    margin-bottom: 0;
}
.user-block-button:last-child {
    margin-right: 0;
}

.header-info {
    position: absolute;
    list-style-type: none;
    top: 100%;
    right: 25px;
    margin: 0;
}
.header-info-item {
    color: #ffffff;
    font-weight: 700;
    text-align: right;
}
.header-info-item-text {
    font-size: 14px;
    margin-bottom: 5px;
}
.header-info-item-phone {
    font-size: 22px;
}
.button-search {
    padding: 15px;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background: url('../images/css_sprites.png') -44px -143px;
    background-color: #a1b6ab;
}

.button-login:hover:before {
    content: "";
    width: 21px;
    height: 19px;
    background: url('../images/css_sprites.png') -10px -148px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.button-login::before {
    content: "";
    width: 21px;
    height: 19px;
    background: url('../images/css_sprites.png') -148px -90px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.button-cart::before {
    content: "";
    width: 21px;
    height: 20px;
    background: url('../images/css_sprites.png') -148px -10px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.button-cart:hover:before {
    content: "";
    width: 21px;
    height: 20px;
    background: url('../images/css_sprites.png') -148px -50px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.design-cart {
    padding: 5px 45px 5px 15px;
}



/*
container
*/
.container-breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 10px;

}
.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: space-between;

}
.breadcrumb {
    margin-right: 20px;
}

.breadcrumb-text {
    margin: 0;
}
.catalog-title {
    margin: 0;
    margin-left: 25px;
}
.breadcrumb-link {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.breadcrumb-text {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.catalog-title {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}
/*
slider
*/
.slider {
    margin-bottom: -280px;
}
.slider-item {
    position: relative;
}

.slider-image {
    width: 100%;
}

.slider-content {
    position: absolute;
    bottom: 320px;
    width: 670px;
    left: 50%;
    margin-left: -335px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-slider {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}


.button-nice:hover {
    background: linear-gradient(180deg, #f28066, #f28066);
}
.button-nice:active {
    background: linear-gradient(0deg, #f26843, #e74b36);
    box-shadow: inset 0px 2px 2px 0px rgba(128, 12, 0, 0.7);
}
/*
form
*/
.form-row {
    margin-left: 25px;
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.form-item {
    margin-right: 15px;
}
.form-title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}
.form-label {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-button {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid #ffffff;
    align-self: flex-start;
    padding: 10px 25px;
    margin-top: 20px;
}
.form-button:hover {
    background-color: #fbfcfb;
    color: #323232;
}
.form-button:active {
    background-color: #eaeaea;
    color: #323232;
    box-shadow: inset 0px 2px 2px 0px #5a5959c7;
    border: solid 1px transparent;
}
.form-style {
    background-color: #a1b6ab;
    border-radius: 40px;
    padding: 5px 15px;
    display: flex;
}
.form-style-sorting {
    border: none;
    border-radius: 40px;
    background-color: #a1b6ab;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 15px;
}
.form-range {
    padding: 0px 20px;
    margin: 0;
}
.form-label-radio {
    display: none;
}
.form-label-sprait {
    width: 22px;
    height: 22px;
    background: url('../images/css_sprites2.png') -52px -10px;
    margin: 5px;
}
.form-label-radio:checked+.form-label-sprait {
    width: 22px;
    height: 22px;
    background: url('../images/css_sprites2.png') -94px -52px;
}
.form-label:hover .form-label-sprait {
    width: 22px;
    height: 22px;
    background: url('../images/css_sprites2.png') -10px -52px;
}
.form-label-radio:hover:checked+.form-label-sprait {
    width: 22px;
    height: 22px;
    background: url('../images/css_sprites2.png') -94px -10px;
}
.form-label-checkbox {
    display: none;
}
.form-label-sprait-checkbox {
    width: 24px;
    height: 20px;
    background: url('../images/css_sprites2.png') -10px -134px;
    margin: 5px;
}
.form-label-checkbox:checked+.form-label-sprait-checkbox {
    width: 24px;
    height: 20px;
    background: url('../images/css_sprites2.png') -136px -10px;
}
.form-label-sprait-checkbox:hover {
    width: 24px;
    height: 20px;
   background: url('../images/css_sprites2.png') -136px -90px;
}
.form-label-checkbox:hover:checked+.form-label-sprait-checkbox {
    width: 24px;
    height: 20px;
    background: url('../images/css_sprites2.png') -54px -94px;
}
/*
cards
*/

.cards {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}

.card {
    width: 560px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.card-strawberry {
    background-image: url('../images/strawberry.jpg');
    z-index:10;
    border-radius: 15px;
}
.card-chocolate {
    background-image: url('../images/chocolate.jpg');
    z-index:10;
    border-radius: 15px;
}

.card-content {
    width: 100%;
}
.card-header {
    color: #ffffff;
    font-weight: 700;
    font-size: 37px;
    margin:0;
}
.card-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin:0;
    padding-top: 20px;
    padding-bottom: 50px;
}
.button-card {
    font-size: 18px;
    color: #ffffff;
    padding: 15px 30px 15px 20px;
}
/*
ice-creams
*/
.ice-creams {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ice-cream {
    width: 270px;
    margin-top: 40px;
    padding: 5px 10px 0 10px;
    text-decoration: none;
    text-align: center;
}
.ice-cream:hover {
    background-color: rgba(156, 176, 164, 0.5);
    display: block;
    border-radius: 5px;
    margin-bottom: -82px;
    position: relative;
    z-index: 5;
    box-shadow: 5px 16px 15px 0px #6b7771;
}
.ice-cream:hover .button-ice {
    display: inline-block;
}
.pic-ice-cream {
    position: relative;
    margin-bottom: 15px;
}
.ice-cream-image {
    width: 100%;
    height: auto;
}
.hit {
    position: absolute;
    top: 0;
    left: 0;
}

.ice-cream-price {
    position: absolute;
    bottom: -25px;
    left: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
}
.ice-cream-descr {
    font-weight: 500;
    font-size: 16px;
    color: #d6deda;
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}
.ice-cream-descr-clarity {
    text: none;
}
.button-ice {
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px;
    display: none;
}


/*
about
*/
.about {
    padding: 20px;
    margin: 25px;
    background-image: url('../images/wafer.jpg');
    border-radius: 15px;
}
.about-text-column {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-header {
    font-weight: 500;
    font-size: 24px;
    color: #323232;
    margin: 5px 0 0 0;
}
.about-text {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    width: 535px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.about-text-pic::before {
    content: "";
    width: 49px;
    height: 49px;
    flex: none;
    margin-top: 10px;
}
.about-text-ice::before {
    background: url('../images/css_sprites.png') -79px -10px;
}
.about-text-sheet::before {
    background: url('../images/css_sprites.png') -10px -79px;
}
.about-text-cow::before {
    background: url('../images/css_sprites.png') -10px -10px;
}
.about-text-thermometer::before {
     background: url('../images/css_sprites.png') -79px -79px;
}

.about-text-inner {
    padding: 30px 0 0 5px;
}
/*
blog
*/
.blog {
    width: 560px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../images/background-strawberry.jpg');
    background-position: 18% 38%;
    border-radius: 15px;
}
.blog-header {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #323232;
}
.blog-text {
    font-weight: 700;
    font-size: 24px;
    color: #323232;
    width: 300px;
}

.mail {
    width: 560px;
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../images/mail.jpg');
    border-radius: 15px;


}
.mail-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mail-button {
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
}
.mail-send {
    flex: none;
    font-size: 18px;
    color: #fefefe;
    padding: 15px 25px;
    font-weight: 700;
    border-radius: 40px;
}
.mail-text {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}
.mail-inner {
    background-color: #f8f7f4;
    padding: 30px;
    border-radius: 15px;
}


/*
map
*/

.map {
    margin-top: 40px;
    position: relative;
}
.map-card {
    position: absolute;
    top: 60px;
    right: 25px;
    background-color: #fefefe;
    width: 305px;
    padding: 30px 25px;
    border-radius: 15px;
}
.map-card-section {
    margin-bottom: 30px;
}
.map-card-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}
.map-card-text {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}
.map-card-comment {
    font-weight: 400;
    font-size: 14px;
}
.button-map {
    font-size: 18px;
    padding: 10px 25px;
    display: block;
}
/*
pagination
*/
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}
.page-number {
     margin-right: 15px;
}
/*
footer
*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 30px 25px 0;
    border-top: 1px solid #fff;

}
.footer-social {
    display: flex;
    justify-content: flex-start;
}
.social-btn {
    margin-right: 10px;
}

.footer-menu {
    display: flex;

}

.footer-item-link {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-bottom: 5px;
    position: relative;

}
.footer-item-link:hover {
    font-weight: 700;
    color: #ffbc9e;
}
.footer-item-link:last-child {
    margin-bottom: 0;
}
.footer-item-link-sprite:hover::before {
    content: "";
    width: 15px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    background: url('../images/css_sprites.png') -125px -148px;
    position: absolute;
    top: 0;
    left: -20px;
}
.footer-menu-column {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-menu-column:last-child {
    margin-right: 0;
}

.footer-text {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
}
.footer-link {
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.footer-link:hover {
    color: #ffbc9e;
}
