body {
    margin: 0;
    background-color: #849d8f;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

/*
 header
*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.controls {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    margin-right: 20px;
}
.menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.menu-item {
    list-style-type: none;
    margin-right: 25px;
}
.menu-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 700;
}
.menu-item:last-child {
    margin-right: 0;
}

.user-block-button {
    margin-right: 10px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}

.user-block-button:last-child {
    margin-right: 0;
}

.header-info {
    position: absolute;
    list-style-type: none;
    top: 100%;
    right: 25px;
}
.header-info-item {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.header-info-item-text {
    font-size: 14px;
    margin-bottom: 10px;
}
.header-info-item-phone {
    font-size: 22px;
}

/*
container
*/
.container-breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 10px;

}
.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: space-between;

}
.breadcrumb {
    margin-right: 20px;
}

.breadcrumb-text {
    margin: 0;
}
.catalog-title {
    margin: 0;
    margin-left: 25px;
}

/*
slider
*/
.slider {
    margin-bottom: -280px;
}
.slider-item {
    position: relative;
}

.slider-image {
    width: 100%;
}

.slider-content {
    position: absolute;
    bottom: 320px;
    width: 670px;
    left: 50%;
    margin-left: -335px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-slider {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.button-nice {
    background: linear-gradient(180deg, #f26843, #e74b36);
    box-shadow: 0px 2px 2px 0px rgba(128, 12, 0, 0.7);
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    border: none;
}
.button-card {
    font-size: 18px;
    color: #ffffff;
    padding: 15px 30px 15px 20px;
}

/*
form
*/
.form-row {
    margin-left: 25px;
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.form-item {
    margin-right: 15px;
}
.form-title {
    margin-bottom: 5px;
}
.form-label {
    margin-right: 15px;
}

/*
cards
*/

.cards {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}

.card {
    width: 560px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.card-strawberry {
    background-image: url('../images/strawberry.jpg');
    z-index:10;
    border-radius: 15px;
}
.card-chocolate {
    background-image: url('../images/chocolate.jpg');
    z-index:10;
    border-radius: 15px;
}

.card-content {
    width: 100%;
}
.card-header {
    color: #ffffff;
    font-weight: 700;
    font-size: 37px;
    margin:0;
}
.card-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin:0;
    padding-top: 20px;
    padding-bottom: 50px;
}
/*
ice-creams
*/
.ice-creams {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ice-cream {
    width: 270px;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
}
.pic-ice-cream {
    position: relative;
    margin-bottom: 15px;
}
.hit {
    position: absolute;
    top: 0;
    left: 0;
}

.ice-cream-price {
    position: absolute;
    bottom: -25px;
    left: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
}
.ice-cream-descr {
    font-weight: 500;
    font-size: 16px;
    color: #d6deda;
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}

/*
about
*/
.about {
    padding: 20px;
    margin: 25px;
    background-image: url('../images/wafer.jpg');
    border-radius: 15px;
}
.about-text-column {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-text {
    width: 535px;
}
.about-header {
    font-weight: 500;
    font-size: 24px;
    color: #323232;
}
.about-text {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}
/*
blog
*/
.blog {
    width: 560px;
    background-color: pink;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../images/background-strawberry.jpg');
    background-position: 18% 38%;
    border-radius: 15px;
}
.blog-header {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #323232;
}
.blog-text {
    font-weight: 700;
    font-size: 24px;
    color: #323232;
    width: 300px;
}

.mail {
    width: 560px;
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../images/mail.jpg');
    border-radius: 15px;


}
.mail-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mail-button {
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
}
.mail-send {
    flex: none;
    font-size: 18px;
    color: #fefefe;
    padding: 15px 30px 15px 20px;
    font-weight: 700;
    border-radius: 40px;
}
.mail-text {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}
.mail-inner {
    background-color: #f8f7f4;
    padding: 30px;
    border-radius: 15px;
}


/*
map
*/

.map {
    margin-top: 40px;
    position: relative;
}
.map-card {
    position: absolute;
    top: 70px;
    right: 25px;
    background-color: #fff;
    width: 300px;
    padding: 30px 25px;
}
.map-card-section {
    margin-bottom: 30px;
}
.map-card-title {
    margin-bottom: 10px;
}
.map-card-text {
    margin-bottom: 10px;
}
/*
pagination
*/
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}
.page-number {
     margin-right: 15px;
}
/*
footer
*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 30px 25px 0;
    border-top: 1px solid #fff;

}
.footer-social {
    display: flex;
    justify-content: flex-start;
}
.social-btn {
    margin-right: 10px;
}

.footer-menu {
    display: flex;
}
.footer-item-link {
    display: block;
}

.footer-menu-column {
    margin-right: 30px;
}

.footer-text {
    margin: 0;
}
